*{
    font-family: sans-serif;
margin: 0;
padding: 0;
}
body {
    background-color: rgb(32, 32, 32);

}
.header{
display: flex;
padding-left: 16px;
padding-right: 16px;
justify-content: space-between;
color:aliceblue;
align-items: center;
}
.header >div{
display: flex;
align-items: center;
box-sizing: border-box;
height: 60px;
justify-content: center;
gap: 20px;
margin-right: 40px;
}
.header a{
text-decoration: none;
color: aliceblue;
font-size: 14px;
display: flex;
}
.header h1{
font-size: 20px;
font-weight: 500;
margin-right: 950px;
}
.hero-section{
color: aliceblue;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.hero-section h1{
font-weight: 800;
font-size: 70px;
line-height: 74px;
margin-right: 80px;
margin-bottom: 40px;
}
.first{
font-size: 25px;
line-height: 20px;
color: rgb(150, 150, 150);
text-align: start;
margin-right: 60px;
margin-bottom: 40px;
}
.hero-section button{
background-color: aliceblue;
border: none;
border-radius: 6px;
border-style: none;
width: 280px;
height: 55px;
margin-right: 340px;
font-size: 22px;
font-weight: 600;
}
.second{
color: aliceblue;
margin-top: 20px;
margin-right: 370px;
margin-bottom: 70px;
}
#Github{
font-size: 30px;

}
.container{
color: aliceblue;
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
font-size: 25px;
}

.dollar{
    color: rgb(51, 51, 202);
}
.command-2{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.box{
    display: flex;
    background-color: black;
    min-height: 80vh;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
    color: aliceblue;
    flex-direction: column;
    padding-left: 40px;
    font-size: 20px;
}
.glow{
    background-image: url('./images/light-glow.svg');

}
.box-para-1{
    background-color: black;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
}
.box-para-2{
    background-color: black;
    margin-bottom: 14px;
}
.box-para-3{
    background-color: black;
    margin-bottom: 14px;
}
.box-para-4{
    background-color: black;
    margin-bottom: 14px;
}
.box-para-5{
    background-color: black;
}
.heading{
    background-color: black;
    margin-bottom: 30px;
    font-size: 20px;
}
.color{
    color: rgb(5, 138, 5);
    background-color: black;
    margin-right: 10px;
}
.bracket{
    background-color: black;
    color: gray;
}
.CLI{
    color: aliceblue;
    text-align: center;
    font-size: 27px;
    margin-bottom: 60px;
}
.white-section{
    background-color: white;
    min-height: 80vh;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hello{
    background-color: white;
    font-size: 65px;
    font-weight: 900;
}
.links{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
}
.links p{
    color: rgb(115, 112, 112);
}
.links h1{
    font-weight: 700;
}
.link-a{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.link-b{
    display: flex;
    flex-direction: column;
    gap: 15px;
}  
.link-c{
   display: flex;
    flex-direction: column;
    gap: 15px;
}  
.link-d{
    display: flex;
    flex-direction: column;
    gap: 15px;
}  
.links a{
    text-decoration: none;
}
.square{
background-color: white;
min-height: 60vh;
display: flex;
background-image: url('./images/square-pattern.png');
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
.square-para{
    margin-right: 25px;
    color: rgb(115, 112, 112);
}
.square-btn{
    color: white;
    background-color: black;
    font-size: 19px;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 6px;
    margin-right: 235px;
}
.square-anchor{
    text-decoration: none;
    margin-right: 270px;
}
.Services{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
}
.product{
    display: flex;
    gap: 20px;
    flex-direction:column ;
}
.platform{
display: flex;
flex-direction: column;
gap: 20px;
}
.Support{
display: flex;
flex-direction: column;
gap: 20px;
}
.company{
display: flex;
flex-direction: column;
gap: 20px;
}
.footer{
background-color: rgb(228, 223, 223);
}
.footer >div{
    display: flex;
    gap: 15px;
padding-top: 20px;
padding-bottom: 15px;
}