*{
margin: 0;
padding: 0;
}
.header{
display: flex;
padding-left: 16px;
padding-right: 16px;
background-color: black;
justify-content: space-between;
color: white;
align-items: center;
}
.header >div{
display: flex;
align-items: center;
box-sizing: border-box;
height: 60px;
justify-content: space-around;
}
.header a{
text-decoration: none;
color: white;
font-size: 14px;
display: flex;
gap: ;

}
.header h1{
font-size: 20px;
font-weight: 500;
}